@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url('../fonts/Montserrat-Regular.ttf') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: local('Montserrat Black'), local('Montserrat-Black'), url('../fonts/Montserrat-Black.ttf') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Montserrat;
  color: white;
  height: 100%;
}

html, body {
  background-color: #060a49;
}

body {
  min-height: 100%;
  background: url('../assets/resume_bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover; /* For WebKit*/
  -moz-background-size: cover;    /* Mozilla*/
  -o-background-size: cover;      /* Opera*/
  background-size: cover;  
 }

.content {
  margin-left: 20px;
}

.title {
  padding-top: 200px;
  line-height: 63px;
  display: block;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 60pt;
  background: linear-gradient(#ff161b, #ff009a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.last-name{
  display: block;
}

.separator{
  width: 200px;
  height: 9px;
  background: linear-gradient(#ff161b, #ff009a);
  border-radius: 8px;
  margin: 25px 0px;
  display: block;
}

.subtitle {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 12pt;
}

.bio{
  width: 45%;
}

.bar-menu {
  background-image: linear-gradient( -90deg, #ff161b 0%, #ff009a 100%);
  border-radius: 50pt;
  display:inline-block;
  margin-top: 60px;
}

.bar-menu ul {
  list-style: none;
  text-align: center;
}

.bar-menu li {
  display: inline-block;
  line-height: 50px;
  height: 50px;
  border-bottom: none;
  margin-left: 25px;
  margin-right: 25px;
}

.bar-menu a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.bar-menu a:hover {
  text-decoration: none;
  color: #0a2071;
  display: block;
  transition: .3s background-color;
}

.bar-menu a:focus {
  outline: 0;
}

@media screen and (max-width: 700px){  
  .title {
    font-size: 40pt;
    padding-top: 80px;
    line-height: 43px;
  }
  .bio{
    width: 80%;
    font-size: 11pt;
  }
  .bar-menu {
    margin-top: 40px;
  }
}

@media screen and (max-width: 400px){
  .title {
    padding-top: 55px;
  }
  .bar-menu li {
    display: block;
  }
  .bar-menu {
    border-radius: 25pt;
    margin-top: 30px;
  }
}